@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*DECLARACION DE VARIABLE CSS*/
:root{
    --primary-color: #1c2906;
    --secundary-color: #326d1d;
    --white: #ffff;
    --white-font: #F3F4F4;
    --black-dark: black;

}
/*regla de oro css actualmente para que el sitio web no se desborde*/
html{
    box-sizing: border-box; /*hace que no se desborde la pagina*/
}
*,*:before, *:after{
    box-sizing: inherit;
}
/*FIN DECLARION DE VARIABLES*/
body{
    background-color:var(--primary-color);
    color:var(--secundary-color);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--white)
}
a:hover{
    color: aqua;
}
.center{
    text-align: center;
}