h1{
    color:blue;
    font-size: 80px;
    font-weight: 800;
}
.title{
    color: brown;
    font-size: 36px;
    font-weight: 400;
}
.box{
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;
    padding: 50px 80px;
    margin: 150px;
}
.box:hover{
color: yellow;
background-color: black;
}