@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*DECLARACION DE VARIABLE CSS*/
:root{
    --primary-color: #1c2906;
    --secundary-color: #326d1d;
    --white: #ffff;
    --white-font: #F3F4F4;
    --black-dark: black;

}
/*regla de oro css actualmente para que el sitio web no se desborde*/
html{
    box-sizing: border-box; /*hace que no se desborde la pagina*/
}
*,*:before, *after{
    box-sizing: inherit;
}
/*FIN DECLARION DE VARIABLES*/
body{
    background-color:var(--primary-color);
    color:var(--secundary-color);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--white)
}
a:hover{
    color: aqua;
}
.navbar{
    display: flex;
    justify-content: space-between;
    /*background-color: #061e29;  fondo menu*/
    padding: 0;
    margin: 0;
}
.navbar-list{
    display: flex;
    gap: 20px
}/*
.navbar-list li{
    border-right: 1px solid aqua;
}*/
.navbar-list a{
    /*display: block;*/
    font-size: 16px;
    color: var(--white-font); /*color de letras*/
    padding: 0.5rem 0.5rem;
}
.navbar-list a:hover{
    color: aqua; /*color mouse por arriba*/
}
.logo{
    width: 250px;
}
.quienes-somos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    color: var(--white-font);
}
.padding-40{
    padding: 0px 40px 0 0;
}
.padding-20{
    padding: 20px 0px 0px 0px;
}
.img-responsive{
    width: 600px;/*unidades absolutas*/
    border: 1px solid white;
    border-radius: 25px;
}
.quienes-somos h2{
    color: aqua; /*color de la tipografia*/
    font-size: 36px; /*tamaño de la fuente*/
    font-weight: 800; /*peso, es decir que tan gordita es la letra*/
}
.servicios-container{
    background-color: rgb(116, 218, 247);
    padding: 80px 30px;
}
.servicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
}
.center{
    text-align: center;
}
.footer-container{
    background-color: var(--black-dark);
    padding: 50px 0px 0px 0px;
    font-size: 12px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 0px 30px;
}
.footer h3{
    color: var(--secundary-color)
}
.logo-footer{
    max-width: 200px;
}
.social-icons{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}
.copyright{
    background-color: var(--primary-color);
    padding: 10px 30px;
    font-size: 10px;
}